.header {
  width: 100%;
  background-color: #0086FF;
}

.logo{
  margin: 0 auto;
  max-width: 930px;
  margin-bottom: 10px;
}
.header-container{
  widows: 100%;
  max-width: 1348px;
  display: grid;
  margin: 0 auto;
  position: relative;
}

.header-imagens img{
  width: 32px;
}

.header-imagens{
  display: flex;
}

.header-imagens .ofertas {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-imagens .botao {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-informacoes{
  display: flex;
  gap: 160px;
  place-content: end;
  margin-bottom: 20px;
  color: white;
}
.informacao{
  display: flex;
  gap: 20px;
}

.informacao li {
  color: rgb(204, 230, 244);
  font-size: 14px;
  font-weight: 500;
}

.header-busca{
  display: flex;
  gap:16px ;
  align-items: center;
}
.header-produtos{
  display: flex;;
  place-content: end;
  gap: 40px;
  margin-bottom: 20px;
}
.produtos{
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-departamentos{
  display: flex;
  padding-left: 80px;
  margin-bottom: 4px;
}
.botao-busca{
  width: 16px;
}

.logo-lu{
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 81px;
}
.departamentos{
  display: flex;
  gap: 8px;
}

.departamentos li {
  height: 45px;
  display: flex;
}

.departamentos li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #FFF;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 10px;
}

.departamentos li a > img {
  width: 24px;
}

.borda{
  float: left;
    height: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: none;
    background-image: linear-gradient(to right, rgb(255, 255, 74) 0px, rgb(252, 208, 0) 4%, rgb(255, 193, 18) 8%, rgb(255, 193, 18) 11%, rgb(255, 138, 0) 16%, rgb(255, 95, 95) 22%, rgb(255, 37, 58) 28%, rgb(255, 55, 168) 37%, rgb(199, 57, 255) 49%, rgb(164, 0, 225) 56%, rgb(46, 206, 255) 72%, rgb(0, 134, 255) 80%, rgb(114, 247, 114) 94%, rgb(0, 214, 4));
}

.logo-magalu {
  width: 124px;
  color: #ffffff;
  padding-top: 6px;
  
}

form {
  width: 587px;
  display: flex;
  height: 28px;
  flex-direction: row;
  border: none;
}

form input {
  flex: 1;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: 14px;
  padding-left: 5px;
}

form button {
  width: 40px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
p{
  color: #ffffff;
}

.bemvindo {
  color: #FFF;
  font-weight: 500;
  width: 150px;
}

.bemvindo a {
  color: #FFF;
  font-weight: 400;
}